<h4 class="text-center">Registre-se e mostre seu pet ao Mundo!</h4>

<form class="form mt-4" [formGroup]="novoUsuarioForm" (submit)="cadastrar()">
  <div class="form-group mb-2">
    <input
      type="email"
      placeholder="e-mail"
      class="form-control"
      formControlName="email"
    />
    <app-mensagem
      *ngIf="
        novoUsuarioForm.get('email')?.errors?.['required'] &&
        novoUsuarioForm.get('email')?.touched
      "
      mensagem="Email obrigatório!"
    ></app-mensagem>
    <app-mensagem
      *ngIf="
        novoUsuarioForm.get('email')?.errors?.['email'] &&
        novoUsuarioForm.get('email')?.touched
      "
      mensagem="Email inválido!"
    ></app-mensagem>
  </div>
  <div class="form-group mb-2">
    <input
      type="text"
      class="form-control"
      placeholder="Nome Completo"
      formControlName="fullName"
    />
    <app-mensagem
      *ngIf="novoUsuarioForm.get('fullName')?.errors && novoUsuarioForm.get('fullName')?.touched"
      mensagem="Nome incorreto!"
    ></app-mensagem>
  </div>
  <div class="form-group mb-2">
    <input
      type="text"
      class="form-control"
      placeholder="Usuário"
      formControlName="userName"
    />
    <app-mensagem
    *ngIf="novoUsuarioForm.get('userName')?.errors && novoUsuarioForm.get('userName')?.touched"
      mensagem="Nome de Usuário Inválido!"
    ></app-mensagem>
  </div>
  <div class="form-group mb-2">
    <input
      type="password"
      class="form-control"
      placeholder="Senha"
      formControlName="password"
    />
    <app-mensagem
    *ngIf="novoUsuarioForm.get('password')?.errors && novoUsuarioForm.get('password')?.touched"
      mensagem="Senha obrigatória!"
    ></app-mensagem>
  </div>
  <button class="btn btn-primary btn-block">Cadastre-se</button>
</form>
<p>Já possui conta? <a [routerLink]="['']">Entre Agora!</a></p>
